---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../sections/Hero.astro';
import About from '../sections/About.astro';
import EventDetails from '../sections/EventDetails.astro';
import RSVP from '../sections/RSVP.astro';
---

<BaseLayout>
	<main>
		<Hero />
		<About />
		<EventDetails />
		<RSVP />
	</main>
</BaseLayout>
