---
import AnimalPrint from '../assets/animal-print.svg';
const bgUrl = '/minji-doljanchi/animal-print.jpg';

export interface Props {
	color?: string;
	opacity?: number;
	id?: string;
}

const { color = 'primary', opacity = 0.5, id } = Astro.props;
---

<style>
	section {
		background-image: var(--bg-image);
		background-repeat: repeat;
	}

	.overlay {
		opacity: var(--bg-opacity, 0.5);
		mix-blend-mode: screen;
	}
</style>
<section
	id={id}
	class={`py-5 position-relative`}
	style={`--bg-opacity: ${opacity};--bg-image: url(${bgUrl})`}
>
	<div class={`overlay bg-${color} position-absolute inset-0`}></div>
	<div class='container position-relative z-2'>
		<slot />
	</div>
</section>
