---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

const navLinks = [
	{
		href: 'details',
		text: 'Details',
	},
	{
		href: 'doljabi',
		text: "Predict Min-Ji's Future",
	},
	{
		href: 'gallery',
		text: 'Gallery',
	},
	{
		href: 'rsvp',
		text: 'RSVP',
	},
];
---

<header
	class='shadow-sm container-fluid py-2 top-0 position-sticky bg-white z-3'
>
	<div class='row justify-content-between row-gap-3 mb-3'>
		<div class='col-12'>
			<h2 class='text-center m-0 display-1'>{SITE_TITLE}</h2>
		</div>
		<nav class='col-12'>
			<ul
				class='navbar-nav flex-row justify-content-center align-items-center gap-3'
			>
				{
					navLinks.map(({ href, text }) => (
						<li>
							<HeaderLink href={href}>{text}</HeaderLink>
						</li>
					))
				}
				<li></li>
			</ul>
		</nav>
	</div>
</header>
