---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

const navLinks = [
	{
		href: 'about',
		text: 'About',
	},
];
---

<script>
	import 'bootstrap/js/dist/offcanvas';
</script>
<style>
	header {
		top: var(--wp-admin--admin-bar-height, 0);
	}
</style>
<header
	class='shadow-sm container-fluid gx-5 position-sticky bg-white py-4 z-3'
>
	<nav class='navbar navbar-expand-md justify-content-between'>
		<h2 class='m-0 fs-4'>
			<a
				class='text-decoration-none'
				href='/astro-starter'
				>{SITE_TITLE}</a
			>
		</h2>
		<button
			class='navbar-toggler'
			type='button'
			data-bs-toggle='offcanvas'
			data-bs-target='#navbarSupportedContent'
			aria-controls='navbarSupportedContent'
			aria-expanded='false'
			aria-label='Toggle navigation'
		>
			<span class='navbar-toggler-icon'></span>
		</button>
		<div
			class='offcanvas offcanvas-end justify-content-end'
			tabindex='-1'
			id='navbarSupportedContent'
		>
			<div class='offcanvas-header'>
				<h5
					class='offcanvas-title'
					id='offcanvasNavbarLabel'
				>
					Offcanvas
				</h5>
				<button
					type='button'
					class='btn-close'
					data-bs-dismiss='offcanvas'
					aria-label='Close'
				></button>
			</div>
			<div class='offcanvas-body align-self-md-end'>
				<ul class='navbar-nav align-items-md-center gap-3'>
					{
						navLinks.map(({ href, text }) => (
							<li>
								<HeaderLink href={href}>{text}</HeaderLink>
							</li>
						))
					}
					<li>
						<HeaderLink
							href='#'
							class={'btn btn-primary'}
							>Do the Thing</HeaderLink
						>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
