---
import Photo from '../components/Photo.astro';
import Portrait from '../assets/portrait.jpg';
---

<section class='container py-5'>
	<div
		class='row flex-row-reverse justify-content-center align-items-center row-gap-4'
	>
		<div class='col-5 col-md-4'>
			<Photo
				photo={Portrait}
				alt="Olivia's portrait"
			/>
		</div>
		<div class='col-12 col-md-6 text-center'>
			<h2 class='mb-0 display-2'>About Olivia</h2>
			<p class='fs-6 mb-0'>
				From her first smile to her first step, Olivia has brought joy,
				curiosity, and a whole lot of wild energy into our lives. Join
				us in honoring her first year and this beautiful Korean
				tradition, the doljanchi.
			</p>
		</div>
	</div>
</section>
