---
import AnimalPrintSection from '../components/AnimalPrintSection.astro';
import DoljabiForm from '../components/DoljabiForm.astro';
---

<AnimalPrintSection
	color='light'
	opacity={0.9}
	id='doljabi'
>
	<div class='row justify-content-center'>
		<div class='col-md-8 text-center'>
			<h2 class='display-2 mb-0'>Predict Min-Ji's Future!</h2>
			<p class='fs-6 fw-bold'>
				Which item will Olivia pick up during the doljabi ceremony?
			</p>
		</div>
	</div>
	<div class='row justify-content-center'>
		<div class='col-md-8'>
			<DoljabiForm />
		</div>
	</div>
</AnimalPrintSection>
