---
import bounce from '../assets/bounce.jpeg';
import death from '../assets/death.jpeg';
import portrait from '../assets/portrait.jxl';
import Photo from '../components/Photo.astro';
---

<!-- GALLERY -->
<section
	class='py-5 bg-secondary bg-opacity-10'
	id='gallery'
>
	<div class='container text-center'>
		<h2 class='display-2'>Photo Moments</h2>
		<div class='row row-cols-1 row-cols-md-3 row-gap-4 mt-4'>
			{
				[
					{ img: bounce, alt: 'Olivia Bounce' },
					{ img: death, alt: 'Olivia Death' },
					{ img: portrait, alt: 'Olivia Portrait' },
				].map((photo) => (
					<div class='col'>
						<Photo
							photo={photo.img}
							alt={photo.alt}
						/>
					</div>
				))
			}
		</div>
	</div>
</section>
