<!-- GALLERY -->
<section class='py-5 bg-secondary bg-opacity-10'>
	<div class='container text-center'>
		<h2>Photo Moments</h2>
		<div class='row g-3 mt-4'>
			<div class='col-sm-6 col-md-4'>
				<img
					src='/images/photo1.jpg'
					class='img-fluid rounded shadow'
					alt='Olivia Photo 1'
				/>
			</div>
			<div class='col-sm-6 col-md-4'>
				<img
					src='/images/photo2.jpg'
					class='img-fluid rounded shadow'
					alt='Olivia Photo 2'
				/>
			</div>
			<div class='col-sm-6 col-md-4'>
				<img
					src='/images/photo3.jpg'
					class='img-fluid rounded shadow'
					alt='Olivia Photo 3'
				/>
			</div>
		</div>
	</div>
</section>
