<section class='text-bg-primary py-5'>
	<div class='container'>
		<div class='row justify-content-center align-items-center text-center'>
			<div class='col'>
				<h1 class='display-1'>Our wild one is turning one!</h1>
				<p class='display-5 font-body'>
					Join us to celebrate Olivia Min-Ji’s 첫돌
				</p>
				<a
					href='#details'
					class='btn btn-info'
					>See Details</a
				>
			</div>
		</div>
	</div>
</section>
