---
import RSVPForm from '../components/RSVPForm';
---

<section
	class='py-5 container'
	id='rsvp'
>
	<h2 class='display-2 text-center'>Let Us Know You're Coming!</h2>
	<div class='row justify-content-center'>
		<div class='col-md-8'>
			<RSVPForm client:visible />
		</div>
	</div>
</section>
