<section
	class='py-5'
	id='rsvp'
>
	<div class='container text-center'>
		<h2 class='display-2'>Let Us Know You're Coming!</h2>
		<form
			action='https://formspree.io/f/your-form-id'
			method='POST'
			class='row g-3 justify-content-center mt-4'
		>
			<div class='col-md-4'>
				<input
					type='text'
					class='form-control'
					name='name'
					placeholder='Your Name'
					required
				/>
			</div>
			<div class='col-md-4'>
				<input
					type='email'
					class='form-control'
					name='email'
					placeholder='Your Email'
					required
				/>
			</div>
			<div class='col-md-8'>
				<textarea
					class='form-control'
					name='message'
					rows='3'
					placeholder='Number of guests / Dietary restrictions'
				></textarea>
			</div>
			<div class='col-12'>
				<button
					type='submit'
					class='btn btn-outline-dark'
					>RSVP Now</button
				>
			</div>
		</form>
	</div>
</section>
