---
import RSVPForm from '../components/RSVPForm';
---

<section
	class='py-5 container'
	id='rsvp'
>
	<h2 class='display-2 text-center'>Let Us Know You're Coming!</h2>
	<div class='row justify-content-center'>
		<div class='col-md-8'>
			<script
				is:inline
				src='https://www.google.com/recaptcha/api.js?render=6LfQ0ncrAAAAALEmiUYMOgBf9uzzic62gQhy406j'
				async
				defer
			></script>
			<RSVPForm client:visible />
		</div>
	</div>
</section>
